<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:bill="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<body>
<h1>Bill Tracker</h1>
<span th:replace="base :: scripts"></span>
<span th:replace="base :: msg"></span>
<!--<table th:unless="${#lists.isEmpty(bills)}">-->
<!--    <tr th:each="bill: ${bills}">-->
<!--        <td th:text="${bill.name}"></td>-->
<!--    </tr>-->
<!--</table>-->
<div th:unless="${#lists.isEmpty(bills)}">
    <table>
        <tr th:each="bill: ${bills}">
            <td th:text="${bill.name}"></td>
        </tr>
    </table>
</div>

<form action="/newBill">
    <input type="submit" value="Add a New Bill" class="btn btn-primary"/>
</form>
</body>
</html>