<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="base :: head">
</head>
<body>
<div class="container">
    <h1>Bill Tracker</h1>
    <span th:replace="base :: scripts"></span>
    <span th:replace="base :: msg"></span>
<!--    <div th:unless="${#lists.isEmpty(bills) == false}">-->
<!--        No bills in database!-->
<!--    </div>-->
<!--    <div th:unless="${#lists.isEmpty(bills)}">-->
<!--        <table>-->
<!--            <tr th:each="bill: ${bills}">-->
<!--                <td th:text="${bill.name}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
    <p>
    <form action="/newBill">
        <input type="submit" value="Add a New Bill" class="btn btn-primary"/>
    </form>

    <form action="/newExpenditure">
        <input type="submit" value="Create a New Expenditure Report" class="btn btn-secondary"/>
    </form>
    </p>

</div>
</body>
</html>